extend ../site

block content
	h1.uppercase Kontakt

	h2 Alex Hofmann
	
	p Liebermannweg 1 Zimmer 111
		| 
		br
		| 93051 Regensburg

	table
		tbody
			tr
				td
					b Mobil: 
				td 0173 3916893
			tr
				td
					b Mail: 
				td
					a(href="mailto:info@scfn-regensburg.de") info@scfn-regensburg.de