extend ../site
include ../mixins/quote

block content
	.about
		h1.uppercase
			| Was ist
			br
			| die SCFN?

		img(src="assets/images/about-header.jpg")

		.wide.double.justify.row
			.column
				p
					| Die Students Charity Fight Night ist ein fachschafts&shy;übergreifendes Event, bei dem frei&shy;willige Studenten aus Universität und OTH Re&shy;gensburg in den Ring steigen, um Geld für 
					b selbst&shy;gewählte soziale Projekte aus Regensburg oder der ganzen Welt zu sammeln. 
					| Es boxen Stu&shy;denten gegen Studenten. Diese werden nach Gewicht, Größe, Geschlecht und körperlicher Verfassung abgestimmt.

				p
					| Ausgewählt werden ausschließlich Amateure &mdash; also Studenten ohne aktive Boxvergangenheit. Die SCFN ist nicht nur eine Sportveranstaltung, sondern vielmehr auch ein Galaabend, an dem Studenten sämtlicher Fachschaften in Regens&shy;burg ein 
					b tolles Event verbringen und gleichzeitig etwas Großes leisten sollen. 
					| Das Rahmen&shy;programm um den sportlichen Aspekt beginnt mit einem tollen Empfangsbereich, in dem alle Gäste bei rotem Teppich und Sponsorenwand Erinnerungsfotos an den abend machen können. Die Veranstaltung wird außerdem durch musi&shy;kalische Auftritte verschiedenster Arten um&shy;rahmt.

			.column
				p 
					| Im Anschluss an das Event findet eine Aftershow&shy;party statt. Der Erlös aus den Ticketverkäufen, 
					b der Gastronomie und der Crowdfunding-Kampa&shy;gne wird im Anschluss gleichmäßig auf die Pro&shy;jekte aufgeteilt.

				p 
					b Die SCFN ist in Deutschland einzigartig und findet Ende November zum zweiten Mal in Re&shy;gensburg statt. 
					| Als mediale Partner unterstützen die SCFN der Radiosender GongFM, die Mittel&shy;bayerischen Zeitung und der Fernseh&shy;sender TVA. Sportlicher Partner für die Vorbereitung der Kämpfer und großer Unterstützer in allen Belang&shy;en um die Kämpfe ist das BOXFIT Regensburg. Die Location für das Event stellt dieses Jahr (2016) das Kolpinghaus mit seinem Party- und Festsaal in der Innenstadt von Regensburg zur Verfügung. 
					br
					| Außerdem unterstützen die SCFN zahlreiche Unternehmen (besonders im Gastronomiebe&shy;reich) mit Sach- und Gut&shy;scheinspenden als "Dankeschön" für Spender. 

	+quote(config.statements[2])
