extend base

block body
	.navbar
		.ui.container
			a.brand(href='index.html')
				img(src='assets/images/scfn.png')

			.pull-right
				a(href='index.html') Zurück zur Startseite

	.ui.dark.content.container
		block content